//==============================================================================
//-----------------                Grid System                 -----------------
//==============================================================================

// Classes: grid__row, grid__col(--2 through --12), centered. + theme__colors

// Centered

.centered {
  text-align: center;
  margin: auto;
}

// Container

.container {
  max-width: 90%;
  margin: 0 auto 100px;

  @include mq(medium) {
    width: 80%;
  }
}

// Row Layout
.grid__row {
  @extend %row;
  @include mq(medium) {
    @include flex-dir-align(row, stretch);
  }
}

// Generate Grid Columns
.grid__col {
  @include mq(medium) {
    @include g-columns;
  }
}

// Column Layout

%grid-system {
  margin: 0 auto;
  padding: 10px 30px;
  border: 0;
  color: $white;
  font-size : em(14px);
  font-weight: $font-weight--medium;
  @include mq(medium) {
    border-radius: $br--default;
  }
}

[class*="grid__col--"] {

  @include mq(small)  {
    margin-top: em(12px);
    margin-bottom: em(12px);
  }

  @include mq(medium) {
    @include doubly(percentage($g-gutter-width / $context));
    @include flex-dir-align(row);
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }

  &[class*="theme__colors"] {
  }
}

// Color scheme

.theme__colors {
  @extend %grid-system;
  @include theme-colors($grid-colors);

  @include m-bg-colors($ui-colors) {
    @extend %grid-system;
  }
}
